@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

/* Отключаем стандартное поведение скролла на touch-устройствах */
@media (pointer: coarse) {
  .scroll-area {
    -webkit-overflow-scrolling: touch;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
}
@layer utilities {
  .scroll-touch-smooth {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}

/* html, body {
  height: 100%;
} */

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* :root {
  --my-drop-shadow: 0 4px 15px rgba(0, 200, 255, 0.4);
  --my-drop-shadow-hover: 0 0 25px rgba(0, 255, 255, 0.6);
}

.dark {
  --my-drop-shadow: 0 4px 15px rgba(255, 255, 255, 0.25);
  --my-drop-shadow-hover: 0 0 25px rgba(255, 255, 255, 0.4);
}

@layer utilities {
  .drop-shadow-custom {
    filter: drop-shadow(var(--my-drop-shadow));
    transition: filter 0.4s ease;
  }

  .drop-shadow-custom:hover {
    filter: drop-shadow(var(--my-drop-shadow-hover));
  }
} */