@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Отключаем стандартное поведение скролла на touch-устройствах */
@media (pointer: coarse) {
  .scroll-area {
    -webkit-overflow-scrolling: touch;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
}
