
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));


/* Отключаем стандартное поведение скролла на touch-устройствах */
@media (pointer: coarse) {
  .scroll-area {
    -webkit-overflow-scrolling: touch;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
}
@layer utilities {
  .scroll-touch-smooth {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}


/* html, body {
  height: 100%;
} */

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
